# Lines that start with '#' are comments.
*.bak
*.db
*.db-journal
*.log
.coverage
.DS_Store
.env
.idea
.pydevproject
.pydevproject.bak
.settings
.tmp_*
.tox
build/*
coverage.xml
css-*_.css
js-*_.js
local_settings.py
nosetests.xml
reports/*
settings_local.py
settings_local_test.py
settings_test_local.py
style-*_.css
mediabrute_usefile
*conflicted\ copy*
.codeintel/*
*/staticroot/admin/*
*/staticroot/adminactions/*
*/staticroot/css/*
*/staticroot/debug_toolbar/*
*/staticroot/images/*
*/staticroot/js/*
*/staticroot/swf/*
*/mediaroot/images/covers/

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# C extensions
*.so

# Distribution / packaging
.Python
bin/
build/
develop-eggs/
dist/
eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.cache
nosetests.xml
coverage.xml

# Translations
*.mo

# Mr Developer
.mr.developer.cfg
.project
.pydevproject

# Rope
.ropeproject

# Django stuff:
*.log
*.pot

# Sphinx documentation
docs/_build/


# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Icon must ends with two \r.
Icon


# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes

# Windows
# =========================

# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp
