{% extends "base.html" %}
{% block headtitle %}: Telemetry Extract{% endblock %}
{% block pageheader %}Telemetry Extract{% endblock %}
{% block content %}
    {% if messages %}
        <ul class="messages">
            {% for message in messages %}
                <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}
    <ul>
        <li><a href="{% url 'extract_csv' format_name='imm_extract' %}">IMM Extract</a></li>
        <li><a href="{% url 'extract_csv' format_name='load_cell_extract' %}">Load Cell Extract</a></li>
        <li><a href="{% url 'extract_csv' format_name='motion_extract' %}">Motion Extract</a></li>
        <li><a href="{% url 'extract_csv' format_name='msu_experiment_extract' %}">MSU Experiment Extract</a></li>
        <li><a href="{% url 'extract_csv' format_name='power_extract' %}">Power Extract</a></li>
    </ul>
    <hr>
    <form action="{% url 'extract_page' %}" method="post">
        {{ form }}
        <input type="submit" name="submit" value="Submit">
        {% csrf_token %}
    </form>
{% endblock %}
{% block bodybottom %}
    <script type="application/javascript">
        $(document).ready(function () {
            $("#nav-extract").addClass("active");
        });
    </script>
{% endblock %}