{% extends "base.html" %}
{% load bootstrap3 %}
{% block headtitle %}: Telemetry Extract{% endblock %}
{% block pageheader %}Telemetry Extract{% endblock %}
{% block content %}
    {% if messages %}
        {% for message in messages %}
            {% bootstrap_messages message %}
        {% endfor %}
    {% endif %}
    <div class="col-md-4">
        <form action="{% url 'extract_page' %}" method="post" class="form-inline">
            {% bootstrap_form form layout='inline' %}
            <button type="submit" class="btn btn-primary">
                {% bootstrap_icon "arrow-down" %} Extract
            </button>
            {% csrf_token %}
        </form>
    </div>
{% endblock %}
{% block bodybottom %}
    <script type="application/javascript">
        $(document).ready(function () {
            $("#nav-extract").addClass("active");
        });
    </script>
{% endblock %}