{% extends "base.html" %}
{% block headtitle %}: Telemetry Extract{% endblock %}
{% block pageheader %}Telemetry Extract{% endblock %}
{% block content %}
    {% if messages %}
        <ul class="messages">
            {% for message in messages %}
                <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}
    <form action="{% url 'extract_page' %}" method="post">
        <div class="control-group">
            {{ form }}
            <div class="control-group">
                <label class="control-label" for="singlebutton"></label>

                <div class="controls">
                    <button id="singlebutton" name="singlebutton" class="btn btn-primary">Extract</button>
                </div>
            </div>
        </div>
        {% csrf_token %}
    </form>
{% endblock %}
{% block bodybottom %}
    <script type="application/javascript">
        $(document).ready(function () {
            $("#nav-extract").addClass("active");
        });
    </script>
{% endblock %}