{% extends "base.html" %}
{% load bootstrap3 %}
{% load staticfiles %}
{% block headtitle %}: MSU Graph{% endblock %}
{% block pageheader %}MSU Graph{% endblock %}
{% block extrahead %}<link href="{% static 'css/nv.d3.css' %}" rel="stylesheet">{% endblock %}
{% block content %}
    {% if messages %}
        {% for message in messages %}
            {% bootstrap_messages message %}
        {% endfor %}
    {% endif %}
    <div class="col-md-12 text-center">
        <form action="{% url 'msu_graph_page' %}" method="post" class="form-inline printsat-form">
            {% bootstrap_form form layout='inline' %}
            <button type="submit" class="btn btn-primary col-md-push-2">
                {% bootstrap_icon "signal" %} Graph
            </button>
            {% csrf_token %}
        </form>
        <div id="chart">
            <svg style="height: 600px; width: 900px;"></svg>
        </div>
    </div>
{% endblock %}
{% block bodybottom %}
    <script src="{% static 'js/d3.min.js' %}"></script>
    <script src="{% static 'js/nv.d3.min.js' %}"></script>
    <script>
        nv.addGraph(function () {
            var chart = nv.models.lineChart()
                            .margin({left: 100, bottom: 150})  //Adjust chart margins to give the x-axis some breathing room.
                            .useInteractiveGuideline(true)  //We want nice looking tooltips and a guideline!
                    ;

            chart.xAxis     //Chart x-axis settings
                    .axisLabel('Time')
                    .rotateLabels(-90)
                    .tickFormat(function (d) {
                        return d3.time.format('%Y-%m-%d %I:%M:%S')(new Date(d));
                    });

            chart.yAxis     //Chart y-axis settings
                    .axisLabel("Voltage (V)")
                    .tickFormat(d3.format('.02f'));

            /* Done setting the chart up? Time to render it!*/
            var myData = msuData();   //You need data...

            d3.select('#chart svg')    //Select the <svg> element you want to render the chart in.
                    .datum(myData)         //Populate the <svg> element with chart data...
                    .call(chart);          //Finally, render the chart!

            return chart;
        });

        function msuData() {
            var timeZoneOffsetSeconds = new Date().getTimezoneOffset() * 60;
            var msuTemp1SeriesValues = [];
            var msuTemp2SeriesValues = [];
            var msuTemp3SeriesValues = [];
            var msuTemp4SeriesValues = [];
            var rawData = {{ data|safe }};
            for (var i = 0; i < rawData.length; i++) {
                msuTemp1SeriesValues.push({x: (rawData[i].fields.ps_time_seconds + timeZoneOffsetSeconds) * 1000, y: rawData[i].fields.msu_temp_1});
            }
            for (i = 0; i < rawData.length; i++) {
                msuTemp2SeriesValues.push({x: (rawData[i].fields.ps_time_seconds + timeZoneOffsetSeconds) * 1000, y: rawData[i].fields.msu_temp_3});
            }
            for (i = 0; i < rawData.length; i++) {
                msuTemp3SeriesValues.push({x: (rawData[i].fields.ps_time_seconds + timeZoneOffsetSeconds) * 1000, y: rawData[i].fields.msu_temp_3});
            }
            for (i = 0; i < rawData.length; i++) {
                msuTemp4SeriesValues.push({x: (rawData[i].fields.ps_time_seconds + timeZoneOffsetSeconds) * 1000, y: rawData[i].fields.msu_temp_4});
            }
            return [
                {
                    values: msuTemp1SeriesValues,      //values - represents the array of {x,y} data points
                    key: 'MSU Temp 1' //key  - the name of the series.
                },
                {
                    values: msuTemp2SeriesValues,      //values - represents the array of {x,y} data points
                    key: 'MSU Temp 2' //key  - the name of the series.
                },
                {
                    values: msuTemp3SeriesValues,      //values - represents the array of {x,y} data points
                    key: 'MSU Temp 3' //key  - the name of the series.
                },
                {
                    values: msuTemp4SeriesValues,      //values - represents the array of {x,y} data points
                    key: 'MSU Temp 4' //key  - the name of the series.
                }
            ];
        }
    </script>
    <script type="application/javascript">
        $(document).ready(function () {
            $("#nav-msu-graph").addClass("active");
        });
    </script>
{% endblock %}