<nav class="navbar navbar-default" role="navigation">
    <div class="container-fluid">
        <ul class="nav navbar-nav">
            <a class="navbar-brand" href="{% url 'home' %}">PrintSat</a>
            <li><a class="active" href="{% url 'home' %}"><span class="glyphicon glyphicon-home"></span> Home</a></li>
            <li><a href="{% url 'canned' %}"><span class="glyphicon glyphicon-arrow-down"></span> Extract</a></li>
            <li><a href="{% url 'upload_page' %}"><span class="glyphicon glyphicon-arrow-up"></span> Upload</a></li>
        </ul>
    </div>
</nav>