{% extends "base.html" %}
{% block headtitle %}: Telemetry Upload{% endblock %}
{% block pageheader %}Telemetry Upload{% endblock %}
{% block content %}
{% if messages %}
    <ul class="messages">
        {% for message in messages %}
            <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
        {% endfor %}
    </ul>
{% endif %}
<form action="{% url 'upload_page' %}" method="post" enctype="multipart/form-data">
    <p>{{ form }}</p>
    <input type="submit" id="submit" value="Submit File"/>
    {% csrf_token %}
</form>
{% endblock %}