{% extends "base.html" %}
{% block headtitle %}: Telemetry Upload{% endblock %}
{% block pageheader %}Telemetry Upload{% endblock %}
{% load bootstrap3 %}
{% block content %}
    {% if messages %}
        {% for message in messages %}
            {% bootstrap_messages message %}
        {% endfor %}
    {% endif %}
    <form action="{% url 'upload_page' %}" method="post" enctype="multipart/form-data">
        {% bootstrap_form form %}
        <button type="submit" class="btn btn-primary">
            {% bootstrap_icon "arrow-up" %} Upload
        </button>
        {% csrf_token %}
    </form>
{% endblock %}
{% block bodybottom %}
    <script type="application/javascript">
        $(document).ready(function () {
            $("#nav-upload").addClass("active");
        });
    </script>
{% endblock %}