{% extends "base.html" %}
{% block headtitle %}: Telemetry Upload{% endblock %}
{% block pageheader %}Telemetry Upload{% endblock %}
{% load bootstrap3 %}
{% block content %}
    {% if messages %}
        {% for message in messages %}
            {% bootstrap_messages message %}
        {% endfor %}
    {% endif %}
    <form action="{% url 'upload_page' %}" method="post" enctype="multipart/form-data">
        <p>{{ form }}</p>
        <input type="submit" id="submit" value="Submit File"/>
        {% csrf_token %}
    </form>
{% endblock %}
{% block bodybottom %}
    <script type="application/javascript">
        $(document).ready(function () {
            $("#nav-upload").addClass("active");
        });
    </script>
{% endblock %}